.bg-tereclutamos {
    background-image: url("../img/te-reclutamos.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    color: #fff;
    height: 100vh;
  }

  .bg-intitech {
    background-image: url("../img/inti.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    color: #fff;
    height: 100vh;
  }

  .bg-mobank {
    background-image: url("../img/mobank.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    color: #fff;
    height: 100vh;
  }